.card {
  border-radius: 2em;
  text-align: center;
  padding: 1em;
}

/* .card:hover {
  background-color: #e2e6f0;
} */

.card img {
  border-radius: 50%;
  width: 85%;
  margin: auto;
  box-shadow: 0 0 7px rgba(0, 26, 255, 0.5);
  padding: 0.2em;
}

.card2 {
  text-align: left;
  /* border-color: #f1f5fe !important; */
  background-color: #222629 !important;
  text-decoration: none;
  color: #d6d6d6;
  font-size: larger;
}

.card2 h2 {
  font-size: 300%;
  color: #fff !important;
}

.card2 p {
  font-size: 150%;
  margin-bottom: 3em;
}
.card-img-2 {
  border-radius: 6% !important;
  width: 100%;
  margin: auto;
  width: 100% !important;
  margin: auto !important;
  box-shadow: none !important;
  padding: 0.2em !important;
}

.row2 {
  flex-direction: row-reverse !important;
  padding-top: 5em !important;
  padding-bottom: 5em !important;
}

.container2 {
  font-size: larger !important;
  padding-bottom: 7em !important;
}

.form-selectMy {
  margin-top: 0.5em;
  font-size: 85% !important;
  display: inline-block !important;
  width: max-content !important;
}

.btnNumber {
  --bs-btn-font-size: 80% !important;
  margin-bottom: 0.5%;
  background-color: #72bb53 !important;
  border-color: black !important;
  border-radius: 20px !important;
  border-width: 1px !important;
}

.btnNumber:hover {
  background-color: #4c7a34 !important;
}

.inpNumb {
  font-size: 85% !important;
}
